<div class="card m-3 p-3 view-quiz" style="width: 18rem">
  <h5 class="card-title mb-5 title" id="{{id}}">{{title}}</h5>
  <p>Category: {{category.category_name}}</p>
  <p>Difficulty: {{difficulty}}</p>
  <p>Created by: {{user.username}}</p>
  {{log this}}

  <button>Play</button>
</div>