{{> private-navbar}} 

<div class="card m-3 p-3 view-quiz" style="width: 18rem" id="{{id}}">
  {{#each questions as |question|}}
    <div class="question" id={{question.id}}>
      <div >{{question.question}}</div>
      <ul class="list-group">
        {{#each question.answers as |answer|}}
          <li class="list-group-item" data-answer={{answer}}>{{answer}}</li>
        {{/each}}
      </ul>
    </div>
  {{/each}}
</div>

