{{> private-navbar}} 

<div class="text-center mt-4">Timer:<span id="timer"></span></div>

<div class="card m-3 p-3 view-quiz w-50 text-center mx-auto" id="{{id}}">
  {{#each questions as |question|}}
    <div class="question mt-3 my-4" id={{question.id}}>
      <div class="quizQuestion">{{question.question}}</div>
      <ul class="list-group mt-3">
        {{#each question.answers as |answer|}}
          <li class="list-group-item " data-answer="{{answer}}">{{answer}}</li>
        {{/each}}
      </ul>
    </div>
  {{/each}}
</div>

<div class="text-center my-4">
  <button type="button" name="finish-btn" class="btn btn-success">Finish</button>
</div>

