{{> private-navbar}} 

<div class="mt-4 position-fixed timerContainer"><i class='fas fa-stopwatch' style='font-size:2rem;'></i><span id="timer" style='font-size:2rem;'></span></div>

<div class="card m-3 p-3 view-quiz w-50 text-center mx-auto" id="{{id}}">
  {{#each questions as |question|}}
    <div class="question mt-3 my-4" id={{question.id}}>
      <div class="quizQuestion">{{question.question}}</div>
      <ul class="list-group mt-3">
        {{#each question.answers as |answer|}}
          <li class="list-group-item " data-answer="{{answer}}">{{answer}}</li>
        {{/each}}
      </ul>
    </div>
  {{/each}}
</div>

<div class="text-center my-4">
  <button type="button" name="finish-btn" class="btn btn-success">Finish</button>
</div>

<div class="modal" tabindex="-1" id="quiz-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Congratulations!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>You completed the quiz! Click the button below to see your score on the dashboard!</p>
      </div>
      <div class="modal-footer">
        <button type="button" id="submit-score-btn" class="btn btn-primary">OK</button>
      </div>
    </div>
  </div>
</div>